html, body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #06090f;
    margin: 0;
    padding: 0;
    height: 100%;
}

.bar-horizon {
    height: 100px;
    width: 100%;
    background-color: #0043c9;
    display: flex;
    align-items: center;
}

.bar-horizon img {
    height: 50px;
    width: 50px;
    margin-left: 15px;
    border-radius: 15px;
}

.container {
    display: flex;
    height: calc(100% - 60px);
}

.bar-vertical {
    width: 100px;
    height: 100%;
    background-color: #0043c9;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #06090f;
    border-top-left-radius: 30px;
    margin-top: -30px; /* Remonte pour "entourer" la barre horizontale */
    margin-left: -30px; /* Décale à gauche pour "entourer" la barre verticale */
    padding-top: 50px; /* Compense la remontée pour le contenu */
    padding-left: 50px; /* Compense le décalage pour le contenu */
}
